{% extends 'base.html.twig' %}

{% block title %}Modele{% endblock %}

{% block body %}
    {{ form(form) }}
     <a href="{{ path('modele_index') }}" class="btn btn-primary">retour a la liste</a>
{% endblock %}
