{% extends 'base.html.twig' %}

{% block title %}Hello CotisationController!{% endblock %}

{% block body %}
{{ form(form) }}

<a href="{{ path('cotisation_index')}}" class="btn btn-primary">retour a la liste</a>
{% endblock %}
