{% extends 'base.html.twig' %}

{% block title %}Hello CotisationController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">annee</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for cotisation in cotisations %}
        <tr>
            <td >{{ cotisation.id }}</td>
            <td>{{ cotisation.annee }}</td>
            <td>
            <a href="{{ path('cotisation_show', {'id':cotisation.id}) }}" class="btn btn-primary">detail</a>
             <a href="" class="btn btn-primary">modifier</a>
              <a href="" class="btn btn-primary">supprimer</a>
            
            </td>
        
        </tr>
    
    </tbody>
    {% endfor %}
</table>
    <a href="{{path('cotisation_create')}}" class="btn btn-primary">creer une cotisaion</a>

{% endblock %}
