{% extends 'base.html.twig' %}

{% block title %}Hello CotisationController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <td scope="row">{{cotisation.id}}</td>
        </tr>
        <tr>
            <th scope="col">annee</th>
            <td scope="row">{{ cotisation.annee}}</td>
        </tr>
           
</table>
<a href="{{ path('cotisation_index')}}" class="btn btn-primary">retour a la liste</a>
{% endblock %}
