{% extends 'base.html.twig' %}

{% block title %}Hello MotoController!{% endblock %}

{% block body %}
    {{form(form)}}
 <a href="{{ path('moto_index') }}" class="btn btn-primary">retour a la liste</a>
{% endblock %}
