{% extends 'base.html.twig' %}

{% block title %}Hello MotoController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">immatriculation</th>
            <th scope="col"></th>
        </tr>
    </thead>
    
    <tbody>
    {% for moto in motos %}

        <tr>
            <td scope="row">{{ moto.id }}</td>
            <td scope="row">{{ moto.immtriculation }}</td>
            <td scope="row">
                <a href="{{ path('moto_show' ,{'id':moto.id})}}" class="btn btn-primary" >details</a>
                <a href="#">modifier</a>
                <a href="#">supprimer</a>
            
            </td>
        
        </tr>
        
    </tbody>
    {% endfor %}
</table>
 <a href="#" class="btn btn-primary">ajouter une moto</a>
{% endblock %}
